
.header-color {
  background-image: linear-gradient(rgb(0, 0, 0,0.4),rgb(0, 0, 0, 0.4)),url("./Images/new-york-city.jpeg");
}

.landing-grid {
   background-image: linear-gradient(rgb(0, 0, 0,0.4),rgb(0, 0, 0, 0.4)),url("./Images/new-york-city.jpeg");
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
   display:flex;
  flex-direction:row
  
}


/* Resume Page css */
.resume-right-col {
  background-color: rgb(29, 28, 28);
  opacity: .9;
  color: white;
  padding: 2em;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  background-image: linear-gradient(rgb(0, 0, 0,0.4),rgb(0, 0, 0, 0.4)),url("./Images/new-york-city.jpeg");
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
   background-color: rgb(29, 28, 28);
  opacity: .8;
  color: white;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}


/* contact page css */

.avatar-img {
  height: 280px;
  padding-top: 5em;
  opacity: 0.95;
}

.banner-text {
  background-color: #1d1c1c;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
  
}
.resume-background{
  background-image: linear-gradient(rgb(0, 0, 0,0.4),rgb(0, 0, 0, 0.4)),url("./Images/new-york-city.jpeg");
}
.projects-background{
  background-image: linear-gradient(rgb(0, 0, 0,0.4),rgb(0, 0, 0, 0.4)),url("./Images/new-york-city.jpeg");
  width: 100%;
  height: 100%;
  display: flex;
}
.about-background{
  background-image: linear-gradient(rgb(0, 0, 0,0.4),rgb(0, 0, 0, 0.4)),url("./Images/new-york-city.jpeg");
  height: 100%;
}